@import "./imports/_normalize.scss";

*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}

#app-container{
}

.nav-menu {
  padding-left: 1%;
  padding-top: 1%;
  border-bottom: 1px black solid;


  .button {
    border: none;
  }
}


.intro {
  width: 100%;
  margin: 0;
  background-color: #2E8B57;
  color: white;
  padding: 15%;
  font-family: 'Anton', sans-serif;
}

.fun-facts {
  padding-top: 5%;
}
