@import "./imports/_normalize.scss";

*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}

#app-container{
}

.nav-header {
  padding: 2% 0% 0% 87%;

  .nav {
    display: inline-block;
    padding-left: 11px;

  }
  .nav {
    display: none;

    @media screen and (min-width:992px){
      display: inline-block;
    }
 }
}

.mobile-nav {
  padding: 1% 0% 0% 2%;


  @media screen and (min-width:992px){
    display: none;
  }

  .double-ham:hover {
    color: red;
  }

}

.intro {
  width: 100%;
  margin: 0;
  background-color: #e74c3c;
  color: white;
  padding: 15%;
  font-family: 'Anton', sans-serif;
}

.fun-facts {
  padding-top: 7%;
}

.contact-section {
  padding-left: 45%;
}

// .thumbnail {
//     height: 75%;
//     width:100%;
// }

.japan {
  -webkit-transform: rotate(90deg);
   margin-top: 15%;
}

.info-japan {
  padding-top:21%;

}

.list-group {
  list-style: none;
}

.my-info.collapse{
  -webkit-transition: all 1.15s;
      -moz-transition: all 1.15s;
      -ms-transition: all 1.15s;
      -o-transition: all 1.15s;
      transition: all 1.15s;

}

.my-info {
  padding-right: 26%;
  position: absolute;
  right: 5%;
}
