@import "./imports/_normalize.scss";

*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}

#app-container{
}

  .side-list {
    list-style: none;
  }


.nav-header {
  padding: 2% 0% 0% 87%;

  .nav {
    display: inline-block;
    padding-left: 11px;
  }

  .search-glass {
    padding-left: 6%;
  }

  .glyphicon:hover {
      color:red;

  }
  .nav,.search-glass {
    display: none;

    @media screen and (min-width:992px){
      display: inline-block;
    }
   }
  }

.mobile-nav {
  padding: 1% 0% 0% 2%;

  button {

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
   }


  @media screen and (min-width:992px){
    display: none;
  }

  .glyphicon-align-justify:hover {
    color: red;
  }

}



.intro {
  width: 100%;
  margin: 0;
  background-color: #e74c3c;
  color: white;
  padding: 15%;
  font-family: 'Anton', sans-serif;
}

.about-me {
  font-family: 'Fjalla One', sans-serif;
  padding-bottom: 5%;
}


.fun-facts {
  padding-top: 7%;
}


.thumbnail{
    width : 100%;
    height: 75%;
    overflow: auto;
}

.thumbnail img {
  height: 75%;
  height: auto;
}


.japan {
  -webkit-transform: rotate(90deg);
   margin-top: 15%;
}

.info-japan {
  padding-top:22%;
}

.info-surf {
  padding-top: 18%;
}



.lorem-content {
  background-color: #e74c3c;
  color: white;
}


#collapseButton {
  -webkit-transition: all 1.10s;
      -moz-transition: all 1.10s;
      -ms-transition: all 1.10s;
      -o-transition: all 1.10s;
      transition: all 1.10s;

      // max-height: 0;

}

.contact-section {
  padding: 5% 5%;

  .list-group {
    list-style: none;
  }

.my-info {
  border-width: 0;
}

  .address {
    word-spacing: -.73em;
  }

  // .my-info {
  //   padding-right: 26%;
  //   position: absolute;
  //   right: 5%;
  // }
}
